@charset "UTF-8";
/* CSS Document */


/* general styles */
     #wrap {
		 margin: 0 auto;
		width: 90%; 
		background-color: rgb(247, 242, 255);
	 }
	
	 body {
    font-family: Helvetica, Arial, Geneva, Serif;
	 }
  
 .main_header {
	
	  text-align: center;
	  border-bottom: 5px solid rgb(37,22,82);  
   }
   
 	
    .contains_1 {
		  text-align: center;
		border-top: 3px solid rgb(37,22,82);
		margin-top: 3px; 
	  }

   .title {
	   margin: 0;
	 background-color: rgb(37,22,82);
     color:   rgb(255, 217, 179);
	  padding: 30px 0;
   }
   
    .main_header p {
	 margin-left: 70px;
	 width: 70%;
	 color: rgb(72, 67, 84);	
	}
	
   .sub_title {
	   color: rgb(72, 67, 84);
	   letter-spacing: .02em;
	   
   }

   fieldset {
	   border: 1px solid rgb(87, 142, 140);
	   border-radius: 5px;
	   margin: 30px 0;
	   padding: 8px;
	   width: 90%;
	   margin: 0 auto;
	   text-align: center;
	   
   }
   
    #mailfield {
	  margin-top: 25px;	
	  border: 1px solid rgb(87, 142, 140);
	}
   
    
     
	  input {
		 display: block; 
		   
	   }
	   
	     input[type^="text"] {
			 
  		 margin: 0 auto; 
		 border-radius: 6px;
		 border: 1px solid rgb(87, 142, 140);
	   } 
	   
	  
	   
	   select[name^="stat"] {
		   -webkit-appearance: none;
		   margin-top: 20px;
		   margin-bottom: 10px;
		   background-color: rgb(87, 142, 140);
		   border: none;
		   padding: 2.8px 14px;
		   color: #fff;
		   letter-spacing: .01em;
		   font-size: 0.875rem;
		   
		   
	   }
	    .contains_1 input {
	 
		 text-align: center;
		 background-color: rgb(255, 247, 255);
	 }
	   
	  .contains_1 input:hover {
		   background-color: rgb(141, 214 ,205);
	   }
	 
	   .contains_1 input:focus {
		   background-color: rgb(141, 214 ,205);
	   }
		
		
	 .lab {
		color: rgb(72,67,84); 
	 }
	 
	 .zip {
		color: rgb(72,67,84); 
	 }
	  
	  
	  .ch {
		  display: block;
		color: rgb(72,67,84); 
		
		
	  }
	  
	 #field_2 {
		 height: 165px;
	 }
	   
	   
   legend {
	  background-color:none;
	  color: rgb(72,67,84); 
	  border-radius: 5px; 
	  padding: 2px 6px; 
	  letter-spacing: .1em;
	  font-size: 0.875rem;
	  
   }
   
    .check_ops {
	color: rgb(72,67,84);
	letter-spacing: .04em; 	
	}


      .main_footer p {
		color: rgb(72,67,84);
	  }
	  
	  #user_con {
		 border: none;
		 border:  1px solid rgb(87, 142, 140);
		 background-color: rgb(255, 247, 255);
		 input : red;
	  }
	  
	  #user_con:hover {
		  background-color: rgb(141, 214 ,205);
	  }
	  
	  #user_con:focus{
		  background-color: rgb(141, 214 ,205);
	  }
	  
     input[value^="Sig"] {
		 background-color: rgb(87, 142, 140);
		 border: 1px solid rgb(87, 142, 140);
		 width: 93%;
		 height: 70px;
		 border-radius: 10px;
		 font-size: 1.375rem;
		 color: #fff;
	 }

      .copyright {
		color: rgb(72,67,84);  
	  }

 @media (min-width: 320px ) {
	
	
	
	#wrap {
		border: 1px solid steelblue;
		width: 90%;
		min-width: 320px;
		 }
		.main_head_info .sub_title{
		  margin-top: 40px;	
		}
		 
       .main_head_info p {
		   font-size: 0.875rem;
		   padding: 4px 0;
		   margin-bottom: 30px;
	   }
  
      
	  
	  h3[id^="con_"] {
		  margin-bottom: 50px;
		  margin-top: 40px;
		  
	  }
	   /* labels */
	   
	   .lab {
			display: block;
		 	
			margin-bottom: 5px;
		    margin-top: 10px;
			padding: 2px;	
		}
	
	  input[placeholder^="req"] {
		  width: 80%;
	  }
	  
	  input[placeholder^="abs"] {
		width: 80%;  
	  }
	  
	  .data {
		width: 80%;  
	  }
	  
       label[id^="address"] {
		   display: block;
	   }
 	    
		 /* zipcode */
		 
		 
		 
	   .zip {
		display: inline-block;
		padding:4px 0;
		margin-top: 10px;
		margin-left: 17px;
		 
		   
	   }
	   
	  input[id^="zi"] {
		  display: inline-block;
		  width: 30%;
		  margin-top: 30px;
		  margin-bottom: 30px;
		  
	  }
	  
	
	 
	 
	   /* inside contains_2 */
	   
	   
    .contains_2 p,
	   .sub_title {
		   text-align: center;
	   }  
	   
	          
     input[type^="checkbox"] {
		 margin: 0 auto;
	}
	
	 label[id^="star"] {
		 display: block;
		 margin-top: 5px;
		 padding: 4px;
	 }
	 
	 	  label[for^="CSS"] {
			  display: block;
			  margin-top: 5px;
			  padding: 4px;
	  }
		  
	   label[for^="Java"] {
		   display: block;
		   margin-top: 5px;
		   padding: 4px;
		
	   }
	   
	   .check_ops {
		   text-align: center;
		   margin-top: 25px;
	   }
	  
	   #buttons  {
		   text-align: center;
	   }
	   
	   input[type^="radio"] {
		   display: block;
		margin: 0 auto;		
		margin-bottom: 10px; 
		margin-top: 14px;
		
		   
	   }
	   
	   
	   label[id^="htmlbu"] {
		   
	   }
	 
	
	 
	 label[id^="plain"] {
		 display:block;
		 margin-bottom: 10px;
		 margin-top: 20px;
	 }
	 
	 input[id^="plain"] {
		 margin-bottom: 25px;
 
 }
   /* main footer styles */
   
   
    .main_footer {
	  text-align: center;
  }
  
	.main_footer p {
		margin-bottom: 8px;
		font-size: 0.875rem;
		letter-spacing: .04em;
	}

	#user_con {
		border-radius: 5px;
		margin-bottom: 35px;
		margin-top: 8px;
	}
	
	input[value^="Sig"] {
		margin: 0 auto;
		
	}
	
 }